@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  position: relative;
  top: 4.8px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px; 
  height: 24px; 
}

.dot {
  position: absolute;
  width: 6px; 
  height: 6px; 
  background-color: #665f5f; 
  border-radius: 50%;
  animation: rotate 1.5s linear infinite; 
}

.dot:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg) translateX(10px);
  animation-delay: 0s;
}

.dot:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(72deg) translateX(10px);
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(144deg) translateX(10px);
  animation-delay: 0.6s;
}

.dot:nth-child(4) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(216deg) translateX(10px);
  animation-delay: 0.9s;
}

.dot:nth-child(5) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(288deg) translateX(10px);
  animation-delay: 1.2s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(10px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(10px);
  }
}
.scrollb {
  overflow-y: scroll; 
  max-height: 865px; 
}


.scrollb::-webkit-scrollbar {
  width: 0; 
}


.scrollb {
  scrollbar-width: none; 
}
/* .post{
  position: relative;
  left: 32px;
  top: 20px;

} */
/* 
.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
} */

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.image-main{
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 515px;
  min-width: 250px;
  max-height:430px;
  border-radius: 10px;
  object-fit:cover;
  display: block;
}

nav ul li a{
  color: antiquewhite;
  text-decoration: none;
  font-size: 18px;
  position: relative;
 
}
nav ul li a::after{
 content: '';
 width: 0;
 height: 3px;
 background: #591872;
 position: absolute;
 left: 0;
 bottom: 0;
 transition: 0.5s;
}
nav ul li a:hover::after{
 width: 100%;
}
.line-container {
  display: flex;
  justify-content: ;
  align-items: ; 
  margin-left: 4px;
  margin-bottom: 10px 
}

/* Vertical Line Style */
.vertical-line {
  width: 2px; /* Width of the line */
  height: 150px; /* Adjust the height as needed */
  background-color: #3b3b3b; /* Line color */
  top: 0;
  bottom: 0;
}
.body-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  height: 920px;
}